results/deeponets/1/deeponet_results.json
results/general/poisson_dataset_12x12.json
results/general/poisson_dataset_12x12.json
results/general/poisson_dataset_20x20.json
results/general/poisson_dataset_24x24.json
results/general/poisson_dataset_3x3.json
results/general/poisson_dataset_48x48.json
results/general/poisson_dataset_4x4.json
results/general/poisson_dataset_6x6.json
results/general/poisson_dataset_8x8.json
results/general/poisson_dataset_96x96.json
results/general/poisson_dataset_12x12.json
results/general/poisson_dataset_20x20.json
results/general/poisson_dataset_12x12.json
results/general/poisson_dataset_20x20.json
results/manufactured/96x96/dataset_96x96.json
results/general/poisson_error_norms_96x96.csv
results/general/poisson_dataset_96x96.json
